.root {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }

  .booksContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 60%;
    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }
}