.cartContainer {
  background-color: #2bb67326;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
}